main {
  background-color: #e46262;
  padding: 80px;
}

footer {
  background-color: #2b2929; /* Cor de fundo */
  color: white; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento de texto */
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #e07777;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(
    33.33% - 20px
  ); /* Define a largura de cada painel, considerando margens */
  height: 100%;
  box-sizing: border-box; /* Garante que as margens sejam consideradas no cálculo da largura */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura do painel */
}

.card img {
  width: 100%;
  height: auto;
}

.info {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.info h2 {
  list-style-type: none;
  padding: 0;
  margin: 0 auto 10px;
  text-align: center;
}

.info p {
  margin-bottom: 0;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(
      50% - 20px
    ); /* Ajuste o tamanho dos cards para 45% da largura da tela */
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%; /* Cards ocupam 100% da largura da tela em telas muito pequenas */
  }
}
